.p-card-left-btn {
    position: absolute;
    top: 0;
    left: 0px;
    color: #fff;
    font-weight: bold;
}

.p-card-right-btn {
    position: absolute;
    top: 0;
    left: 30px;
    color: #fff;
    font-weight: bold;
}
