.table {
    width: 100%;
}

.td-label {
    width: 180px;
    vertical-align: top;
}

.td-label, .td-input {
    padding-bottom: 10px;
}

.inputfield {
    width: 80%; 
}

.radio-div {
    margin-bottom: 5px;
}

.disabled {
    color: silver;
}
