.remove-button {
  padding: 8px;
  border-radius: 4px;
  background: #ff0000;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border: none;
  cursor: pointer;
}

.image {
  max-width: 80%;
  border: solid 2px #ededed;
  padding: 4px;
  border-radius: 8px;
}

.icon {
  font-size: 3em;
}
