.list-record-item-media{
    width: 100%;
    padding: 0;
    margin: 0;
}

.list-record-item-media li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

.list-record-item-media li .fa{
    font-size: 30px;
}